a {
  color: beige;
  /* padding: 20px; */
}

a:hover {
  color: #ff0000;
}

.grid-item-a {
  background-color: #0a1e30;
}

.grid-item-b {
  background-color: #0a1e30;
}

.tb22 {
  /* top: 30%; */
  margin: 0;
}

#plus {
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s cubic-bezier(0, 0.94, 0.32, 1);
  background-color: #e77620;
}
#nav-button:hover {
  background-color: #183650;
  cursor: pointer;
}

#nav-button {
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s cubic-bezier(0, 0.94, 0.32, 1);
}
